includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - src/
    ignoreErrors:
        - '#Parameter \#1 \$view of function view expects view-string\|null, string given#'
        - '#should return Illuminate\\Support\\Collection#'
        - '#Using nullsafe property access#'

        - '#no value type specified in iterable type#'
        - '#has no type specified#'
        - '#does not specify its types: TKey, TValue#'
